<ul class="breadcrumb">
  <%= render "layouts/breadcrumbs/home" %>
  <%= render "layouts/breadcrumbs/district" %>
  <%= render "layouts/breadcrumbs/facility" %>
</ul>

<h1>New Treatment Card</h1>

<%= render 'form', patient: @patient %>
