<h1>Districts</h1>

<table class="table table-striped">
  <tbody>
    <% @districts.order(:name).each do |district| %>
      <tr>
        <td><%= link_to district.name, district %></td>
      </tr>
    <% end %>
  </tbody>
</table>
