<ul class="breadcrumb">
  <%= render "layouts/breadcrumbs/home" %>
</ul>

<h1><%= @district.name %></h1>

<%= render 'shared/patient_sync_status_panel', patients: @patients, sync_report: @patient_sync_report %>

<table class="table">
  <tbody>
  <% @district.facilities.order(:name).each do |facility| %>
    <tr>
      <td><%= link_to facility.name, district_facility_path(@district, facility) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
