<!DOCTYPE html>
<html>
  <head>
    <title>Cardreader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container grid-lg">
      <%= yield %>
    </div>
  </body>
</html>
